include ../data/multiple.pug

mixin submenu(menuItems, target_id)
  ul.dropdown-content.child-menu(id=target_id)
    each item in menuItems
      if item.child
        li
          |
          |
          a.menu-list.droplist-trigger-click-child(href='#!' data-target=item.id)
            |
            | #{item.name}
            |
            i.material-icons.right.arrow-icon keyboard_arrow_right
            |
            |
          |
          |
          +submenu(item.child, item.id)
      else
        li
          a.menu-list(href=item.link class=item.name === pageName ? 'current' : '')
            | #{item.name}

.multi-menu
  ul.multi-menu-root
    each item in multiple
      if item.child
        li
          |
          |
          a.btn.btn-flat.droplist-trigger-click.waves-effect(href='#!' data-target=item.id)
            |
            | #{item.name}
            |
            i.material-icons.right.icon keyboard_arrow_down
            |
            |
          |
          |
          ul.dropdown-content(id=item.id)
            each subitem in item.child
              if subitem.child
                li
                  |
                  |
                  a.menu-list.droplist-trigger-click-child(href='#!' data-target=subitem.id)
                    |
                    | #{subitem.name}
                    |
                    i.material-icons.right.arrow-icon keyboard_arrow_right
                    |
                    |
                  |
                  |
                  +submenu(subitem.child, subitem.id)
              else
                li
                  |
                  |
                  a.menu-list(href=subitem.link class=subitem.name === pageName ? 'current' : '')
                    | #{subitem.name}
                  |
                  |
      else
        li
          a.btn.btn-flat.waves-effect(href=item.link)
            | #{item.name}
          