include ../data/multiple.pug

mixin child-menu(menuItems)
  .collection.side-group
    ul.collapsible.expandable
      each subitem in menuItems
        if subitem.child
          li.collection-item.has-grand-child
            .collapsible-header
              |
              |
              a.waves-effect.text-truncate.menu-list(href='#!')
                |
                |
                i.material-icons.left arrow_drop_down
                | #{subitem.name}
                |
              |
              |
            .collapsible-body
              +child-menu(subitem.child)
        else
          li.collection-item.side-group-link
            |
            |
            a.waves-effect.text-truncate.menu-list(
              href=subitem.link
              class=subitem.name === pageName ? 'current' : ''
            )
              | #{subitem.name}
            |
            |

#slide_menu.sidenav.mobile-nav
  .side-multilv
    .collection.side-multilv
      ul.collapsible.expandable
        each item in multiple
          if item.child
            li.collection-item.group-child.has-child
              .collapsible-header
                |
                |
                a.waves-effect.text-truncate.menu-list(href='#!')
                  |
                  | #{item.name}
                  |
                  i.material-icons.right keyboard_arrow_down
                  |
                  |
                |
                |
              .collapsible-body
                +child-menu(item.child)
          else
            li.collection-item
              |
              |
              a.waves-effect.text-truncate.menu-list(
                href=item.link
                class=item.name === pageName ? 'current' : ''
              )
                | #{item.name}
              |
              |
    .dropdown-divider
    .collection
      ul
        each item in ['login', 'register']
          li.collection-item
            |
            |
            a.sidenav-close.waves-effect.menu-list(href=link.starter[item])
              | #{$t.common[item]}
            |
            |
