extends auth-frame.pug

block variables
  - var title = $t.common.login_subtitle
  - var subtitle = $t.common.auth_desc

block auth_content
  div.form-style
    .head
      h4.use-text-title.mq-md-up(data-class='use-text-subtitle')
        | #{$t.common.login_title}
    include ./social-auth
    .separator
      p #{$t.common.login_or}
    form#login_form
      .row.spacing3
        .col-sm-12
          .input-field
            |
            |
            input.validate#email(type="email" name="email" required)/
            |
            |
            label(for='email') #{$t.common.login_email}
            |
            |
        .col-sm-12
          .input-field
            |
            |
            input.validate#password(type="password" name="password" required)/
            |
            |
            label(for='password') #{$t.common.login_password}
            |
            |
      .form-helper.mt-4
        .form-control-label
          |
          |
          label
            |
            |
            input.filled-in.secondary(type='checkbox')/
            |
            |
            span #{$t.common.login_remember}
            |
            |
          |
          |
        |
        |
        a.btn-flat.button-link(href='#') #{$t.common.login_forgot}
        |
        |
      .btn-area
        |
        |
        button.btn.secondary.btn-large.block.waves-effect(type="submit") #{$t.common.continue}
        |
        |
