mixin news-card(title, headline, orientation='portrait', type='full', img, href='#')
  .card.news-card(class=orientation + ' ' + type)
    .card-image.figure
      .responsive-img(style={'background-image': `url(${img})`})
    .properties
      .caption
        | #{headline}
      .news-title.text-truncate
        | #{title}
      .card-action
        if orientation === 'portrait'
          .flex-grow-1
        |
        |
        a.btn-flat.primary.action-btn.waves-effect
          | #{$t.common.btn_read_more}
        |
        |