mixin post-card(title, desc, date, orientation='portrait', type='full', img, href='#')
  .card.post-card(class=orientation + ' ' + type)
    .card-image.figure
      .responsive-img(style={'background-image': `url(${img})`})
    .properties
      .use-text-subtitle2.text-truncate
        |
        |
        strong #{title}
        |
        |
      .caption.py-4
        | #{date}
      .card-content.desc
        p #{desc}
      .card-action
        |
        |
        a.btn.btn-outlined.primary.action-btn.waves-effect(class=orientation === 'landscape' ? 'btn-small': '' href=href)
          | #{$t.common.btn_read_more}
        |
        |